
body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background: #f4f4f9;
    background-size: cover;
    color: #fff;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    max-width: 500px;
    margin: auto;
    padding: 25px 30px;
    background: #2c3e50;
    border-radius: 15px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
    text-align: center;
    color: #fff;
}

/* Header Styling */
header h1 {
    text-align: center;
    margin-bottom: 25px;
    font-size: 36px; 
    text-transform: uppercase;
    letter-spacing: 2px; 
    font-weight: 700; 
    font-family: 'Poppins', sans-serif; 
    background: linear-gradient(to right, #d4c2cd, #915b76, #82687c);
    background-clip: text; 
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent;
    
    animation: blinkEffect 1.5s infinite alternate;
}

@keyframes blinkEffect {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.6;
    }
    100% {
        opacity: 1;
    }
}


form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

label {
    font-size: 16px;
    font-weight: 500;
    color: #d1c4e9;
    margin-bottom: 5px;
    text-align: left;
}

input[type="text"],
input[type="email"],
input[type="tel"],
select {
    width: 100%;
    padding: 12px;
    font-size: 15px;
    border: none;
    border-radius: 8px;
    outline: none;
    color: #2c3e50;
    background: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus,
select:focus {
    border: 2px solid #d1c4e9;
    background: #f9f6ff;
}

/* Radio Buttons */
.radio-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.radio-group input {
    margin-right: 8px;
}

.radio-group label {
    font-size: 14px;
    font-weight: 500;
    color: #e0e0e0;
}

/* Checkbox */
.checkbox-group {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    color: #d1c4e9;
}

/* Button Styling */
button {
    background:  #18bc9c;
    color: #fff;
    border: none;
    padding: 12px;
    font-size: 16px;
    font-weight: 600;
    border-radius: 25px;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

button:hover {
    background: #417268;
    transform: scale(1.05);
}

